{{! //////////////////////////////////////////////////////////////////////////// }}
{{!  /src/views/adminProducts.handlebars -  HTML con sintaxis de Handlebars   }}
{{! //////////////////////////////////////////////////////////////////////////// }}

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header class='products_header p-2'>
      <div class='container'>
        <div class='d-flex align-items-center justify-content-between p-2'>
          <div class='d-none d-md-block'>
            <h4 class='m-0'>Freelo ECOM</h4>
            <p class='form_p d-none d-md-block text-center m-0'>ONLINE <span class='fw-bold'>SHOP</span></p>
          </div>
          <div class='d-flex flex-column justify-content-center align-items-center ms-md-4'>
            <div>
              <h2 class='fw-bold mb-3 text-center d-none d-md-block'>ADMIN | Productos</h2>
              <h2 class='fw-bold mb-3 text-center d-md-none'>ADMIN</h2>
            </div>
          </div>
          <div class='d-flex flex-column justify-content-center align-items-start'>
            <div class='text-secondary d-none d-md-block'>
              <div class='text-secondary d-none d-md-block'>
                <p class='font_id mb-2'><span class='fw-bold text-danger text-uppercase'>{{user.role}}: </span> <span id='userEmail'>{{user.email}}</span></p>
              </div>
            </div>
            <div class='d-flex align-items-center mb-2'>
              <div>
                <a class='btn btn-warning' href='/admin' role='button'>Dashboard</a>
              </div>
              <div class='ps-2'>
                <a class='btn btn-outline-danger' href='/api/session/auth/logout'>Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='container pt-3 text-center mb-5'>
      <div class='section_products'>

        <div>
          <h3 class='text-center pb-2'>Lista de Productos</h3>
        </div>
        <div class='table-responsive'>
          <table id='product-table' class='table table-bordered table-striped'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr id='{{_id}}'>
                  <td>{{_id}}</td>
                  <td>{{title}}</td>
                  <td>{{description}}</td>
                  <td>{{code}}</td>
                  <td>{{price}}</td>
                  <td>{{stock}}</td>
                  <td>{{category}}</td>
                  <td><button class='btn btn-danger btn-sm' onclick='deleteProduct("{{_id}}")'>Eliminar</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class='row mt-4'>
          <div class='col-12'>
            <nav aria-label='Pagination'>
              <ul class='pagination justify-content-center'>
                {{#if hasPrevPage}}
                  <li class='page-item'>
                    <a class='page-link' href='{{prevLink}}'>&laquo; Previous page</a>
                  </li>
                {{/if}}
                <!-- Mostrar el número de página actual -->
                <li class='page-item active'>
                  <span class='page-link'>Page {{currentPage}}</span>
                </li>
                {{#if hasNextPage}}
                  <li class='page-item'>
                    <a class='page-link' href='{{nextLink}}'>Next page &raquo;</a>
                  </li>
                {{/if}}
              </ul>
            </nav>
          </div>
        </div>
        <div class='d-flex flex-column justify-content-center align-items-center pb-5'>
          <div class='d-flex flex-column justify-content-center'>
            <div class='row justify-content-center m-3'>
              <div class='mt-3'>
                <h2 class='text-center pb-2'>Actualizar Producto</h2>
                <form id='productUpdate' class='bg-light p-4 rounded'>
                  <!-- Cambio el método a PUT -->
                  <div class='form-group'>
                    <label for='_id'>ID</label>
                    <input type='text' class='form-control' id='_id' name='_id' required />
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='title'>Título:</label>
                        <input type='text' class='form-control' id='title' name='title' />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='code'>Código:</label>
                        <input type='text' class='form-control' id='code' name='code' />
                      </div>
                    </div>
                  </div>
                  <div class='form-group'>
                    <label for='description'>Descripción:</label>
                    <textarea class='form-control' id='description' name='description'></textarea>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='price'>Precio:</label>
                        <input type='number' class='form-control' id='price' name='price' step='0.01' />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='stock'>Stock:</label>
                        <input type='number' class='form-control' id='stock' name='stock' />
                      </div>
                    </div>
                  </div>
                  <div class='form-group'>
                    <label for='category'>Categoría:</label>
                    <input type='text' class='form-control' id='category' name='category' />
                  </div>
                  <div class='form-group'>
                    <label for='file'>Imágenes:</label>
                    <input type='file' class='form-control' id='file' name='image' multiple />
                    <small class='form-text text-muted'>* Campo no requerido</small>
                  </div>
                  <div class='text-center mt-4 d-grid gap-2'>
                    <button type='submit' class='btn btn-dark mb-2'>Actualizar producto</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/adminProducts/index.js'></script>
  </body>
</html>